<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ML Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function doSearch(text) {
            if(text==""){
                $(".item").show();
            }else{
                text = text.toLowerCase();
                $(".item").hide();
                $(".item[id*="+text+"]").show();
            }

        }
    </script>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
<!--            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>-->
            <form class="navbar-form navbar-left" action="javascript:doSearch(Search.value)">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="Search" id="Search"/>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>

                </div>
            </form>
            <button class="btn btn-success navbar-btn" type="submit" form="ratingform">Submit</button>
            <button class="btn btn-danger navbar-btn" onClick="window.location.reload()">Reset</button>
        </div>
    </nav>

    <br/>
    <form action="/result" method="post" id="ratingform">
        <table class="table">
            <thead>
            <tr>
                <th class="col-sm-6">ITEM NAME</th>
                <th class="col-sm-4">RATING</th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="item : ${items}">
                <tr class="item" th:id="${#strings.toLowerCase(item.item_name)}">
                    <td th:text="${item.item_name}">Name ..</td>
                    <td>
                        <select class="form-control" id="id" th:name="${item.item_id}">
                            <option value="" selected="selected" disabled="disabled">Please select your rating...
                            </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </form>
</div>


</body>
</html>