<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ML Demo - Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <button class="btn btn-danger navbar-btn" onClick="window.location='/main';">Back</button>
        </div>
    </nav>

    <br/>
        <table class="table">
            <thead>
            <tr>
                <th class="col-sm-6">ITEM NAME</th>
                <th class="col-sm-4">IMDB URL</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item : ${items}">
                <tr class="item" th:id="${#strings.toLowerCase(item.item_name)}">
                    <td th:text="${item.item_name}">Name ..</td>
                    <td>
                        <a th:href="${item.item_url}"><span class="glyphicon glyphicon-film">IMDb</span></a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
</div>
</body>
</html>